
/* Reset CSS
   Should do  
*/

@charset "utf-8";

@font-face{
	font-family: Chewy;
	src: url("./Font/Chewy-Regular.ttf");
}

@font-face{
	font-family: Francois;
	src:url("./Font/FrancoisOne-Regular.ttf");
}

body{
    background-image: url('./img/sierra-nevada-3840x2160-14543.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Chewy;
    min-height: 642px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

#web {
    padding: 0;
}

.heading{
    height: 40vh;
    text-align: center;
    padding-top: 20%;
    font-family: Chewy;
    font-size: 4rem;
    color: #D9C2C2;
}

.context{
    /* text-align: center; */
    position: relative;
    left: 25%;
}

.context{
    font-family: Francois;
    width: 50%;
    margin-top: 30px;
    border-bottom: solid #696464 3px;
	border-left: solid #696464 0px;
	border-right: solid #696464 0px;
	border-top: solid #696464 3px;
	border-radius: 25px;
    text-align: center;
    padding-top: 10px;
    color: #FFF9E2;
    font-size: medium;
    height: 50px;
}

#info{
    position: relative;
}

.in4{
    background-image: url('./img/loicamon.png');
    background-size: cover;
    /* display: none; */
    /* background-color: #edaa89; */
    position: absolute;
    top: -300px;
    left: -30%;
    width: 40vh;
    height: 60vh;
    border-radius: 30px;
}

/* #info:hover .in4{
    display: block;
} */

.ti-close{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 10px;
    z-index: 2;
}

/* .mid-autumn{
    position:absolute;
} */

div.hien{
    display: block;
    overflow:scroll;
    min-width: 200px;
    min-height: 285px;
    max-height: 285px;
    position:absolute;
    z-index: 1;
}

h3.hien{
    margin-top: 40px;
    color: #000;
}

p.hien{
    margin-top: 8px;
    margin-left: 13px;
    text-align: left;
    /* overflow:scroll; */
    font-size: 15px;
    font-family: Francois;
    color: #302929
    /* font-family:  */
}

b{
    color:#df0d0d;
}

div.mid-autumn{
    display: none;
    overflow:scroll;
    min-width: 200px;
    min-height: 285px;
    max-height: 285px;
    position:absolute;
    z-index: 1;
}

h3.mid-autumn{
    margin-top: 40px;
    color: #000;
}

p.mid-autumn{
    margin-top: 8px;
    margin-left: 13px;
    text-align: left;
    /* overflow:scroll; */
    font-size: 15px;
    font-family: Francois;
    color: #000;
}

a{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/* 
1. Vi tri
2. Kich thuoc 
3. Mau sac
4. Kieu dang
*/