<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Css/anGiang.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>An Giang</title>
</head>
<body>
    <div class="web">
        <div class="history">
            LỊCH SỬ
            <a id="lSu" href="#lichSu"></a>
        </div>
        <div class="festival">
            VĂN HÓA
            <a id="lHoi" href="#leHoi">
            </a>
        </div>
        <div class="view">
            DU LỊCH
            <a id="dLich" href="#duLich"></a>
        </div>
    </div>
    <div id="lichSu">
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1757<br>
              </div>
              <div class="item-title">
                Đất An Giang xưa là đất Tầm Phong Long nước Chân Lạp. Năm 1757, quốc vương Chân Lạp dâng đất này cho chúa Nguyễn. Những năm đầu thời vua Gia Long, nhà Nguyễn tổ chức mộ dân đến khai hoang và cho thuộc vào trấn Vĩnh Thanh.              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1824<br>
              </div>
              <div class="item-title">
                Nhà Nguyễn lấy 2 đất Chân Sum và Mật Luật do Ang Chan II hiến tặng. Chân Sum thuộc tỉnh Hà Tiên trước khi chia về cho An Giang.               </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1835<br>
              </div>
              <div class="item-title">
                Nhà Nguyễn lấy thêm đất Ba Thắc sáp nhập vào An Giang và lập thành phủ Ba Xuyên, đồng thời nhập thêm huyện Vĩnh Định của tỉnh Vĩnh Long vào phủ Ba Xuyên.              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1878<br>
              </div>
              <div class="item-title">
                An Giang thời Pháp thuộc bị chia nhỏ thành nhiều tỉnh và biến mất trên bản đồ hành chính Nam Kỳ thuộc Pháp               </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                22/10/1956<br>
              </div>
              <div class="item-title">
                Tỉnh Châu Đốc và tỉnh Long Xuyên được sáp nhập để thành lập tỉnh mới tên là An Giang.               </div>
            </li>
          </ul>
        </div>
    </div>
    <div id="leHoi">
      <div class="container">
        <div class="slide">
          <div class="item" style="background-image: url('../img/AnGiang/kyyen.png');">
            <div class="content">
              <div class="name">tục viết liễn</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/AnGiang/lehoibachua.png');">
            <div class="content">
              <div class="name">Lễ hội Vía Bà Chúa Xứ Núi Sam</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/AnGiang/langNgoi.png');">
            <div class="content">
              <div class="name">làng nghề gạch ngói</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/AnGiang/đuabo.png');">
            <div class="content">
              <div class="name">lễ hội đua bò</div>
              <div class="des">
              </div>
            </div>
          </div>
          
          <div class="item" style="background-image: url('../img/AnGiang/tetcotruyen.png');">
            <div class="content">
              <div class="name">Tết cổ truyền Chôl Chnăm Thmây</div>
              <div class="des">
              </div>
            </div>
          </div>
        </div>
      
        <div class="buttons">
          <button class="prev"></button>
          <button class="next"></button>
        </div>
      </div>
    </div>
    <div id="duLich">
      <section class="gallery">
        <div>
          <img src="../img/AnGiang/nuiCam1.png">
          <img src="../img/AnGiang/chauDoc1.png">
          <img src="../img/AnGiang/nuiCam2.png">
        </div>
        <div>
          <img src="../img/AnGiang/chauDoc2.png">
          <img src="../img/AnGiang/rungCham.png">
          <img src="../img/AnGiang/phungHS.png">
        </div>
        <div>
          <img src="../img/AnGiang/triTon1.png">
          <img src="../img/AnGiang/triTon2.png">
          <img src="../img/AnGiang/ag1.png">
        </div>
      </section>
    </div>
    <div class="home">
      <a href="../htmls/vietNam2.html">
      </a>
      <i class="fas fa-home"></i>
    </div>
    <script src="../Javascript/festival.js"></script>
</body>
</html>