<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Css/anGiang.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Bắc Giang</title>
</head>
<body>
    <div class="web" style="background-image: url('../img/BacGiang/biaBG.png');">
        <div class="history">
            LỊCH SỬ
            <a id="lSu" href="#lichSu"></a>
        </div>
        <div class="festival">
            VĂN HÓA
            <a id="lHoi" href="#leHoi">
            </a>
        </div>
        <div class="view">
            DU LỊCH
            <a id="dLich" href="#duLich"></a>
        </div>
    </div>
    <div id="lichSu">
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                10/10/1895<br>
              </div>
              <div class="item-title">
                Tỉnh Bắc Giang được thành lập, tách ra từ tỉnh Bắc Ninh
              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1896<br>
              </div>
              <div class="item-title">
                Phủ Đa Phúc và huyện Kim Anh được trả lại cho Bắc Ninh               </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                22/2/1955<br>
              </div>
              <div class="item-title">
                Huyện Sơn Động từ tỉnh Quảng Yên trả về cho tỉnh Bắc Giang              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                27/10/1962<br>
              </div>
              <div class="item-title">
                Bắc Giang nhập với Bắc Ninh thành tỉnh Hà Bắc             </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1/1/1997<br>
              </div>
              <div class="item-title">
                Hai tỉnh này tách ra như cũ             </div>
            </li>
          </ul>
        </div>
    </div>
    <div id="leHoi">
      <div class="container">
        <div class="slide">
          <div class="item" style="background-image: url('../img/BacGiang/dieumua.png');">
            <div class="content">
              <div class="name">Điệu múa chuông bên sườn Tây Yên Tử</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/BacGiang/vatcaunuoc.png');">
            <div class="content">
              <div class="name">Vật cầu nước</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/BacGiang/yenthe.png');">
            <div class="content">
              <div class="name">Kỉ niệm 140 năm khởi nghĩa Yên Thế</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/BacGiang/quanho.png');">
            <div class="content">
              <div class="name">Quan họ cổ</div>
              <div class="des">
              </div>
            </div>
          </div>
          
          <div class="item" style="background-image: url('../img/BacGiang/nghetheu.png');">
            <div class="content">
              <div class="name">Nghề thêu truyền thống</div>
              <div class="des">
              </div>
            </div>
          </div>
        </div>
      
        <div class="buttons">
          <button class="prev"></button>
          <button class="next"></button>
        </div>
      </div>
    </div>
    <div id="duLich">
      <section class="gallery">
        <div>
          <img src="../img/BacGiang/nuiDanh.png">
          <img src="../img/BacGiang/songThuong.png">
          <img src="../img/BacGiang/thacBaTia.png">
        </div>
        <div>
          <img src="../img/BacGiang/khuonthan.png">
          <img src="../img/BacGiang/lucngan.png">
          <img src="../img/BacGiang/thanhco.png">
        </div>
        <div>
          <img src="../img/BacGiang/yentuu.png">
          <img src="../img/BacGiang/dongcao.png">
          <img src="../img/BacGiang/yentuuu2.png">
        </div>
      </section>
    </div>
    <div class="home">
      <a href="../htmls/vietNam2.html">
      </a>
      <i class="fas fa-home"></i>
    </div>
    <script src="../Javascript/festival.js"></script>
</body>
</html>