<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Css/anGiang.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Bắc Kạn</title>
</head>
<body>
    <div class="web" style="background-image: url('../img/bacKan/anhbiaBK.png');">
        <div class="history">
            LỊCH SỬ
            <a id="lSu" href="#lichSu"></a>
        </div>
        <div class="festival">
            VĂN HÓA
            <a id="lHoi" href="#leHoi">
            </a>
        </div>
        <div class="view">
            DU LỊCH
            <a id="dLich" href="#duLich"></a>
        </div>
    </div>
    <div id="lichSu">
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                11/4/1900<br>
              </div>
              <div class="item-title">
                Toàn quyền Đông Dương ra Nghị định tách một phần đất thuộc tỉnh Thái Nguyên thành lập tỉnh Bắc Kạn.              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1935–1939<br>
              </div>
              <div class="item-title">
                Sau thời kì khó khăn, trên cơ sở phong trào cách mạng trong toàn quốc dần hồi phục và phát triển, các cuộc đấu tranh hợp pháp của dân Bắc Kạn lần lượt diễn ra              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                24/8/1949<br>
              </div>
              <div class="item-title">
                Tỉnh Bắc Kạn được giải phóng trong cuộc kháng chiến chống Pháp            </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                21/4/1965<br>
              </div>
              <div class="item-title">
                Ủy ban Thường vụ Quốc hội phê chuẩn việc hợp nhất hai tỉnh Bắc Kạn và Thái Nguyên thành tỉnh Bắc Thái            </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                06/11/1996<br>
              </div>
              <div class="item-title">
                Quốc hội (khóa IX) ra Nghị quyết chia tỉnh Bắc Thái để tái lập tỉnh Bắc Kạn và tỉnh Thái Nguyên. Đồng thời, chuyển 2 huyện Ngân Sơn, Ba Bể của tỉnh Cao Bằng trở về tỉnh Bắc Kạn          
             </div>
            </li>
          </ul>
        </div>
    </div>
    <div id="leHoi">
      <div class="container">
        <div class="slide">
          <div class="item" style="background-image: url('../img/bacKan/muabat.png');">
            <div class="content">
              <div class="name">Múa bát</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/bacKan/lehoi.png');">
            <div class="content">
              <div class="name">Lễ hội Lồng tồng Phủ Thông</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/bacKan/hathen.png');">
            <div class="content">
              <div class="name">Hát then</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/bacKan/lecappssac.png');">
            <div class="content">
              <div class="name">Lễ cấp sắc của người Dao Tiền</div>
              <div class="des">
              </div>
            </div>
          </div>
          
          <div class="item" style="background-image: url('../img/bacKan/sli.png');">
            <div class="content">
              <div class="name">Tết Slip slí</div>
              <div class="des">
              </div>
            </div>
          </div>
        </div>
      
        <div class="buttons">
          <button class="prev"></button>
          <button class="next"></button>
        </div>
      </div>
    </div>
    <div id="duLich">
      <section class="gallery">
        <div>
          <img src="../img/bacKan/huama.png">
          <img src="../img/bacKan/hobancahng.png">
          <img src="../img/bacKan/thaonguyen.png">
        </div>
        <div>
          <img src="../img/bacKan/bk4.png">
          <img src="../img/bacKan/bk5.png">
          <img src="../img/bacKan/bk6.png">
        </div>
        <div>
          <img src="../img/bacKan/bk7.png">
          <img src="../img/bacKan/bk8.png">
          <img src="../img/bacKan/bk9.png">
        </div>
      </section>
    </div>
    <div class="home">
      <a href="../htmls/vietNam2.html">
      </a>
      <i class="fas fa-home"></i>
    </div>
    <script src="../Javascript/festival.js"></script>
</body>
</html>