<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Css/anGiang.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Bạc Liêu</title>
</head>
<body>
    <div class="web" style="background-image: url('../img/bacLieu/biaBacLieu.png');">
        <div class="history">
            LỊCH SỬ
            <a id="lSu" href="#lichSu"></a>
        </div>
        <div class="festival">
            VĂN HÓA
            <a id="lHoi" href="#leHoi">
            </a>
        </div>
        <div class="view">
            DU LỊCH
            <a id="dLich" href="#duLich"></a>
        </div>
    </div>
    <div id="lichSu">
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1680<br>
              </div>
              <div class="item-title">
                Một di thần nhà Minh ở Trung Quốc đến vùng Mang Khảm chiêu tập một số lưu dân Việt, lập ra những thôn xóm đầu tiên trên vùng đất Bạc Liêu.            </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1882<br>
              </div>
              <div class="item-title">
                Pháp cắt hai tổng Thạnh Hoà, Thạnh Hưng của đại lý Châu Thành thuộc địa Sóc Trăng và thành lập địa hạt Bạc Liêu.             </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                08/09/1964<br>
              </div>
              <div class="item-title">
                Ngụy quyền Sài Gòn ký Sắc lệnh số 254/NV tái lập tỉnh Bạc Liêu gồm các quận: Giá Rai, Vĩnh Lợi, Vĩnh Châu và Phước Long            </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1976<br>
              </div>
              <div class="item-title">
                Hội đồng Chính phủ cách mạng lâm thời miền Nam Việt Nam hợp nhất hai tỉnh Bạc Liêu - Cà Mau thành tỉnh Bạc Liêu - Cà Mau, lấy tên là tỉnh Minh Hải            </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                01/01/1997<br>
              </div>
              <div class="item-title">
                Hai tỉnh tách ra, tỉnh Bạc Liêu được tái lập lần thứ hai và giữ đến ngày nay             </div>
            </li>
          </ul>
        </div>
    </div>
    <div id="leHoi">
      <div class="container">
        <div class="slide">
          <div class="item" style="background-image: url('../img/bacLieu/danhbatca.png');">
            <div class="content">
              <div class="name">Đánh bắt cá</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/bacLieu/lammuoi.png');">
            <div class="content">
              <div class="name">Làm muối</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/bacLieu/dacohoailang.png');">
            <div class="content">
              <div class="name">Dạ cổ hoài lang</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/bacLieu/doncataitu.png');">
            <div class="content">
              <div class="name">Đờn ca tài tử</div>
              <div class="des">
              </div>
            </div>
          </div>
          
          <div class="item" style="background-image: url('../img/bacLieu/banhtam.png');">
            <div class="content">
              <div class="name">Bánh Tằm Ngan Dừa</div>
              <div class="des">
              </div>
            </div>
          </div>
        </div>
      
        <div class="buttons">
          <button class="prev"></button>
          <button class="next"></button>
        </div>
      </div>
    </div>
    <div id="duLich">
      <section class="gallery">
        <div>
          <img src="../img/bacLieu/bl1.png">
          <img src="../img/bacLieu/bl2.png">
          <img src="../img/bacLieu/bl3.png">
        </div>
        <div>
          <img src="../img/bacLieu/bl4.png">
          <img src="../img/bacLieu/bl5.png">
          <img src="../img/bacLieu/bl6.png">
        </div>
        <div>
          <img src="../img/bacLieu/bl7.png">
          <img src="../img/bacLieu/bl8.png">
          <img src="../img/bacLieu/bl9.png">
        </div>
      </section>
    </div>
    <div class="home">
      <a href="../htmls/vietNam2.html">
      </a>
      <i class="fas fa-home"></i>
    </div>
    <script src="../Javascript/festival.js"></script>
</body>
</html>