<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Css/anGiang.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Bến Tre</title>
</head>
<body>
    <div class="web" style="background-image: url('../img/benTre/biaBT2.png');">
      <div class="flex-container">
        <div class="lsu">LỊCH <br>SỬ
          <a id="lSu" href="#lichSu"></a>
        </div>
        <div class="vhoa">VĂN <br>HÓA
          <a id="lHoi" href="#leHoi">
          </a></div>
        <div class="dlich">DU <br>LỊCH
          <a id="dLich" href="#duLich"></a>
        </div>
      </div>
    </div>
    <div id="lichSu">
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1757<br>
              </div>
              <div class="item-title">
                Bến Tre được gọi là Tổng Tân An thuộc châu Định Viễn, dinh Long Hồ               </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1844<br>
              </div>
              <div class="item-title">
                Vua Minh Mạng bỏ trấn lập tỉnh, đất Bến Tre là hai phủ Hoằng An và Hoằng Trị thuộc tỉnh Vĩnh Long              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
              1871<br>
              </div>
              <div class="item-title">
                Hạt Bến Tre bị giải thể nhập địa bàn vào hạt Mỏ Cày nhưng nửa năm sau đổi tên thành hạt Bến Tre.              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                01/01/1900<br>
              </div>
              <div class="item-title">
                Hạt Bến Tre trở thành tỉnh Bến Tre                </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1965 - 1976<br>
              </div>
              <div class="item-title">
                n1965, Tỉnh Bến Tre đổi tên thành tỉnh Kiến Hòa cho đến 1976, Tỉnh Kiến Hòa được đổi tên lại thành tỉnh Bến Tre                  </div>
            </li>
          </ul>
        </div>
    </div>
    <div id="leHoi">
      <div class="container">
        <div class="slide">
          <div class="item" style="background-image: url('../img/benTre/dua.png');">
            <div class="content">
              <div class="name">Lễ hội dừa</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/benTre/ndc.png');">
            <div class="content">
              <div class="name">nhà thờ nguyễn đình chiểu</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/benTre/hat.png');">
            <div class="content">
              <div class="name">hát sắc bùa phú lễ</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/benTre/dkhoi.png');">
            <div class="content">
              <div class="name">di tích đồng khởi</div>
              <div class="des">
              </div>
            </div>
          </div>
          
          <div class="item" style="background-image: url('../img/benTre/baotang.png');">
            <div class="content">
              <div class="name">Bảo tàng dừa tại cồn phụng</div>
              <div class="des">
              </div>
            </div>
          </div>
        </div>
      
        <div class="buttons">
          <button class="prev"></button>
          <button class="next"></button>
        </div>
      </div>
    </div>
    <div id="duLich">
      <section class="gallery">
        <div>
          <img src="../img/benTre/bt1.png">
          <img src="../img/benTre/bt2.png">
          <img src="../img/benTre/bt3.png">
        </div>
        <div>
          <img src="../img/benTre/bt4.png">
          <img src="../img/benTre/bt5.png">
          <img src="../img/benTre/bt6.png">
        </div>
        <div>
          <img src="../img/benTre/bt7.png">
          <img src="../img/benTre/bt8.png">
          <img src="../img/benTre/bt9.png">
        </div>
      </section>
    </div>
    <div class="home">
        <a href="../htmls/vietNam2.html">
        </a>
      <i class="fas fa-home"></i>
    </div>
    <script src="../Javascript/festival.js"></script>
</body>
</html>