<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Css/anGiang.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Bình Dương</title>
</head>
<body>
    <div class="web" style="background-image: url('../img/binhDuong/anhbiaBd.png');">
        <div class="history">
            LỊCH SỬ
            <a id="lSu" href="#lichSu"></a>
        </div>
        <div class="festival">
            VĂN HÓA
            <a id="lHoi" href="#leHoi">
            </a>
        </div>
        <div class="view">
            DU LỊCH
            <a id="dLich" href="#duLich"></a>
        </div>
    </div>
    <div id="lichSu">
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Thuở ban đầu<br>
              </div>
              <div class="item-title">
                Khi mới mở đất phương Nam, Bình Dương là tên một tổng thuộc huyện Tân Bình, phủ Gia Định.               </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1808<br>
              </div>
              <div class="item-title">
                Khi huyện Tân Bình được đổi thành phủ thì Bình Dương được nâng lên một trong bốn huyện của phủ này.               </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
              1965<br>
              </div>
              <div class="item-title">
                Tỉnh Bình Dương được thiết lập nhưng không phải trùng với địa bàn của huyện Bình Dương xưa kia              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                01/01/1997<br>
              </div>
              <div class="item-title">
                Sau bao lần tách nhập địa phận và thay đổi tên, tỉnh Bình Dương được tái lập                </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                <br>
              </div>
              <div class="item-title">
                  </div>
            </li>
          </ul>
        </div>
    </div>
    <div id="leHoi">
      <div class="container">
        <div class="slide">
          <div class="item" style="background-image: url('../img/binhDuong/vo.png');">
            <div class="content">
              <div class="name">Võ dưỡng sinh</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/binhDuong/thaitieu.png');">
            <div class="content">
              <div class="name">Lễ Kỳ yên Đình Phú Long</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/binhDuong/lolu.png');">
            <div class="content">
              <div class="name">lò lu</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/binhDuong/docchua.png');">
            <div class="content">
              <div class="name">hiện vật di tích dốc chùa</div>
              <div class="des">
              </div>
            </div>
          </div>
          
          <div class="item" style="background-image: url('../img/binhDuong/traichin.png');">
            <div class="content">
              <div class="name">Lễ hội “Mùa trái chín”</div>
              <div class="des">
              </div>
            </div>
          </div>
        </div>
      
        <div class="buttons">
          <button class="prev"></button>
          <button class="next"></button>
        </div>
      </div>
    </div>
    <div id="duLich">
      <section class="gallery">
        <div>
          <img src="../img/binhDuong/bd1.png">
          <img src="../img/binhDuong/bd2.png">
          <img src="../img/binhDuong/bd3.png">
        </div>
        <div>
          <img src="../img/binhDuong/bd4.png">
          <img src="../img/binhDuong/bd5.png">
          <img src="../img/binhDuong/bd6.png">
        </div>
        <div>
          <img src="../img/binhDuong/bd7.png">
          <img src="../img/binhDuong/bd8.png">
          <img src="../img/binhDuong/bd9.png">
        </div>
      </section>
    </div>
    <div class="home">
        <a href="../htmls/vietNam2.html">
        </a>
      <i class="fas fa-home"></i>
    </div>
    <script src="../Javascript/festival.js"></script>
</body>
</html>