<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Css/anGiang.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Bình Định</title>
</head>
<body>
    <div class="web" style="background-image: url('../img/binhDinh/biabd.png');">
        <div class="history">
            LỊCH SỬ
            <a id="lSu" href="#lichSu"></a>
        </div>
        <div class="festival">
            VĂN HÓA
            <a id="lHoi" href="#leHoi">
            </a>
        </div>
        <div class="view">
            DU LỊCH
            <a id="dLich" href="#duLich"></a>
        </div>
    </div>
    <div id="lichSu">
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1799 – 1802<br>
              </div>
              <div class="item-title">
                Thành Quy Nhơn bị quân Nguyễn Ánh chiếm đóng và đổi làm thành Bình Định               </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1814<br>
              </div>
              <div class="item-title">
                Vua Gia Long cho xây dựng lại thành Bình Định mới. Sau khi xây xong cho chuyển toàn bộ nhà cửa về thành mới này              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
              1913<br>
              </div>
              <div class="item-title">
                Thực dân Pháp sát nhập Phú Yên vào Bình Định cho tới 1921              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1976<br>
              </div>
              <div class="item-title">
                Hợp nhất tỉnh ở miền Nam Việt Nam theo đó hai tỉnh Quảng Ngãi và Bình Định hợp nhất thành tỉnh Nghĩa Bình.                </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1989<br>
              </div>
              <div class="item-title">
                Bình Định tách ra từ tỉnh Nghĩa Bình để tái lập lại tỉnh và kéo dài như vậy cho đến nay                  </div>
            </li>
          </ul>
        </div>
    </div>
    <div id="leHoi">
      <div class="container">
        <div class="slide">
          <div class="item" style="background-image: url('../img/binhDinh/tuong.png');">
            <div class="content">
              <div class="name">hát tuồng</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/binhDinh/baichoi.png');">
            <div class="content">
              <div class="name">Ca kịch bài chòi</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/binhDinh/thuyen.png');">
            <div class="content">
              <div class="name">lễ hội đua thuyền truyền thống</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/binhDinh/ruou.png');">
            <div class="content">
              <div class="name">rượu bầu đá</div>
              <div class="des">
              </div>
            </div>
          </div>
          
          <div class="item" style="background-image: url('../img/binhDinh/vo.png');">
            <div class="content">
              <div class="name">võ học cổ truyền</div>
              <div class="des">
              </div>
            </div>
          </div>
        </div>
      
        <div class="buttons">
          <button class="prev"></button>
          <button class="next"></button>
        </div>
      </div>
    </div>
    <div id="duLich">
      <section class="gallery">
        <div>
          <img src="../img/binhDinh/bd1.png">
          <img src="../img/binhDinh/bd2.png">
          <img src="../img/binhDinh/bd3.png">
        </div>
        <div>
          <img src="../img/binhDinh/bd4.png">
          <img src="../img/binhDinh/bd5.png">
          <img src="../img/binhDinh/bd6.png">
        </div>
        <div>
          <img src="../img/binhDinh/bd7.png">
          <img src="../img/binhDinh/bd8.png">
          <img src="../img/binhDinh/bd9.png">
        </div>
      </section>
    </div>
    <div class="home">
        <a href="../htmls/vietNam2.html">
        </a>
      <i class="fas fa-home"></i>
    </div>
    <script src="../Javascript/festival.js"></script>
</body>
</html>