<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Css/anGiang.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Bình Thuận</title>
</head>
<body>
    <div class="web" style="background-image: url('../img/binhThuan/biaBT.png');">
        <div class="history">
            LỊCH SỬ
            <a id="lSu" href="#lichSu"></a>
        </div>
        <div class="festival">
            VĂN HÓA
            <a id="lHoi" href="#leHoi">
            </a>
        </div>
        <div class="view">
            DU LỊCH
            <a id="dLich" href="#duLich"></a>
        </div>
    </div>
    <div id="lichSu">
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1697<br>
              </div>
              <div class="item-title">
                Lập Bình Thuận phủ gồm 2 huyện An Phước và Hòa Đa. Sau cải thành Bình Thuận Dinh               </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1827<br>
              </div>
              <div class="item-title">
                Minh Mạng đặt ra hai phủ Ninh Thuận và Hàm Thuận và hai huyện Tuy Phong và Tuy Định. Bình Thuận được đặt thành tỉnh              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
              1900<br>
              </div>
              <div class="item-title">
                Vua Thành Thái đặt huyện Tuy Lý và lấy huyện Tánh Linh trước thuộc Đồng Nai Thượng sáp nhập vào Bình Thuận              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1976<br>
              </div>
              <div class="item-title">
                Bình Thuận sáp nhập với Bình Tuy và Ninh Thuận thành tỉnh Thuận Hải                </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1992<br>
              </div>
              <div class="item-title">
                Tỉnh Thuận Hải được chia thành 2 tỉnh mới lấy tên là Ninh Thuận và Bình Thuận theo Quyết định chia tách ghi ngày 26 tháng 12 năm 1991                  </div>
            </li>
          </ul>
        </div>
    </div>
    <div id="leHoi">
      <div class="container">
        <div class="slide">
          <div class="item" style="background-image: url('../img/binhThuan/bani.png');">
            <div class="content">
              <div class="name">lễ vào đạo bà ni</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/binhThuan/rija.png');">
            <div class="content">
              <div class="name">Lễ hội Rija Nagar</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/binhThuan/keoluoi.png');">
            <div class="content">
              <div class="name">kéo lưới</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/binhThuan/kate.png');">
            <div class="content">
              <div class="name">Lễ hội Kate của người Chăm</div>
              <div class="des">
              </div>
            </div>
          </div>
          
          <div class="item" style="background-image: url('../img/binhThuan/banh.png');">
            <div class="content">
              <div class="name">Nghề làm bánh hỏi truyền</div>
              <div class="des">
              </div>
            </div>
          </div>
        </div>
      
        <div class="buttons">
          <button class="prev"></button>
          <button class="next"></button>
        </div>
      </div>
    </div>
    <div id="duLich">
      <section class="gallery">
        <div>
          <img src="../img/binhThuan/bt1.png">
          <img src="../img/binhThuan/bt2.png">
          <img src="../img/binhThuan/bt3.png">
        </div>
        <div>
          <img src="../img/binhThuan/bt4.png">
          <img src="../img/binhThuan/bt5.png">
          <img src="../img/binhThuan/bt6.png">
        </div>
        <div>
          <img src="../img/binhThuan/bt7.png">
          <img src="../img/binhThuan/bt8.png">
          <img src="../img/binhThuan/bt9.png">
        </div>
      </section>
    </div>
    <div class="home">
        <a href="../htmls/vietNam2.html">
        </a>
      <i class="fas fa-home"></i>
    </div>
    <script src="../Javascript/festival.js"></script>
</body>
</html>