<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Css/anGiang.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Bình Phước</title>
</head>
<body>
    <div class="web" style="background-image: url('../img/binhPhuoc/biaBP2.png');">
      <div class="flex-container">
        <div class="lsu">LỊCH <br>SỬ
          <a id="lSu" href="#lichSu"></a>
        </div>
        <div class="vhoa">VĂN <br>HÓA
          <a id="lHoi" href="#leHoi">
          </a></div>
        <div class="dlich">DU <br>LỊCH
          <a id="dLich" href="#duLich"></a>
        </div>
      </div>
    </div>
    <div id="lichSu">
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Giữa thế kỉ XIX<br>
              </div>
              <div class="item-title">
                Sau khi đặt ách đô hộ tại lục tỉnh Nam Kỳ, thực dân Pháp đã chia Nam Kỳ thành bốn khu vực: Sài Gòn, Mỹ Tho, Vĩnh Long, Bắt Xắc. Bình Phước thuộc khu vực Sài Gòn                </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                30-01-1971<br>
              </div>
              <div class="item-title">
                Trung ương Cục miền Nam quyết định thành lập Phân khu Bình Phước              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
              1972<br>
              </div>
              <div class="item-title">
                Phân khu Bình Phước giải thể, tỉnh Bình Phước chính thức được thành lập              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                02-07-1976<br>
              </div>
              <div class="item-title">
                Quốc Hội nước Cộng hoà Xã hội Chủ nghĩa Việt Nam ra quyết định thành lập tỉnh Sông Bé bao gồm Thủ Dầu Một, Bình Phước và 03 xã thuộc Thủ Đức                </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                01-01-1997<br>
              </div>
              <div class="item-title">
                Tỉnh Bình Phước được tái lập                  </div>
            </li>
          </ul>
        </div>
    </div>
    <div id="leHoi">
      <div class="container">
        <div class="slide">
          <div class="item" style="background-image: url('../img/binhPhuoc/dansot.png');">
            <div class="content">
              <div class="name">Nghề đan sọt</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/binhPhuoc/mua.png');">
            <div class="content">
              <div class="name">Lễ cầu mưa của người S’tiêng. </div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/binhPhuoc/ruou.png');">
            <div class="content">
              <div class="name">Rượu Cần</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/binhPhuoc/rang.png');">
            <div class="content">
              <div class="name">Tục cà răng và căng tai</div>
              <div class="des">
              </div>
            </div>
          </div>
          
          <div class="item" style="background-image: url('../img/binhPhuoc/dieu.png');">
            <div class="content">
              <div class="name">Hạt điều rang muối</div>
              <div class="des">
              </div>
            </div>
          </div>
        </div>
      
        <div class="buttons">
          <button class="prev"></button>
          <button class="next"></button>
        </div>
      </div>
    </div>
    <div id="duLich">
      <section class="gallery">
        <div>
          <img src="../img/binhPhuoc/bp1.png">
          <img src="../img/binhPhuoc/bp2.png">
          <img src="../img/binhPhuoc/bp3.png">
        </div>
        <div>
          <img src="../img/binhPhuoc/bp4.png">
          <img src="../img/binhPhuoc/bp5.png">
          <img src="../img/binhPhuoc/bp6.png">
        </div>
        <div>
          <img src="../img/binhPhuoc/bp7.png">
          <img src="../img/binhPhuoc/bp8.png">
          <img src="../img/binhPhuoc/bp9.png">
        </div>
      </section>
    </div>
    <div class="home">
        <a href="../htmls/vietNam2.html">
        </a>
      <i class="fas fa-home"></i>
    </div>
    <script src="../Javascript/festival.js"></script>
</body>
</html>