<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Css/anGiang.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>BRVT</title>
</head>
<body>
    <div class="web" style="background-image: url('../img/BRVT/anhbiaBRVT.png');">
        <div class="history">
            LỊCH SỬ
            <a id="lSu" href="#lichSu"></a>
        </div>
        <div class="festival">
            VĂN HÓA
            <a id="lHoi" href="#leHoi">
            </a>
        </div>
        <div class="view">
            DU LỊCH
            <a id="dLich" href="#duLich"></a>
        </div>
    </div>
    <div id="lichSu">
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Bà Rịa<br>1808
              </div>
              <div class="item-title">
                Vùng đất Bà Rịa ban đầu thuộc dinh Trấn Biên. Năm 1808 vua Gia Long đổi Trấn Biên thành Biên Hòa.
              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Bà Rịa<br>1/1/1900
              </div>
              <div class="item-title">
                Tỉnh Bà Rịa được thành lập cùng 19 tỉnh khác ở Nam Kỳ. Trong quá trình tồn tại, Vũng Tàu được nhiều lần tách ra rồi sáp nhập lại
              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Vũng Tàu<br>1658
              </div>
              <div class="item-title">
                Vũng Tàu xưa được biết đến với tên gọi là trấn Chân Bồ. Năm 1658, chúa Nguyễn Phúc Tần đưa 2000 đi chinh phục trấn Chân Bồ
             </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Vũng Tàu<br>10/2/1859
              </div>
              <div class="item-title">
                Quan quân nhà Nguyễn khai hỏa lần đầu tiên những khẩu súng thần công bắn vào đoàn chiến thuyền của liên quân Pháp – Tây Ban Nha, mở đầu cuộc kháng chiến chống Pháp ở Nam Kỳ.
             </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                8/1991<br>
              </div>
              <div class="item-title">
                Vũng Tàu trở thành thành phố thuộc tỉnh Bà Rịa–Vũng Tàu mới thành lập và là tỉnh lỵ của tỉnh này.
            </div>
            </li>
          </ul>
        </div>
    </div>
    <div id="leHoi">
      <div class="container">
        <div class="slide">
          <div class="item" style="background-image: url('../img/BRVT/tucvielien.png');">
            <div class="content">
              <div class="name">tục viết liễn</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/BRVT/trian.png');">
            <div class="content">
              <div class="name">Lễ tri ân anh hùng liệt sĩ tại Vũng Tàu</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/BRVT/nghinhOng.png');">
            <div class="content">
              <div class="name">Lễ hội Nghinh Ông Thắng Tam</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/BRVT/banguhanh.png');">
            <div class="content">
              <div class="name">Lễ hội Miếu Bà Ngũ Hành</div>
              <div class="des">
              </div>
            </div>
          </div>
          
          <div class="item" style="background-image: url('../img/BRVT/danhbatca.png');">
            <div class="content">
              <div class="name">Ngư dân đánh bắt thủy sản</div>
              <div class="des">
              </div>
            </div>
          </div>
        </div>
      
        <div class="buttons">
          <button class="prev"></button>
          <button class="next"></button>
        </div>
      </div>
    </div>
    <div id="duLich">
      <section class="gallery">
        <div>
          <img src="../img/BRVT/bien.png">
          <img src="../img/BRVT/bien2.png">
          <img src="../img/BRVT/canhdongmuoi.png">
        </div>
        <div>
          <img src="../img/BRVT/conDao.png">
          <img src="../img/BRVT/baotang.png">
          <img src="../img/BRVT/tucondao.png">
        </div>
        <div>
          <img src="../img/BRVT/gozoo.png">
          <img src="../img/BRVT/caphe.png">
          <img src="../img/BRVT/rung.png">
        </div>
      </section>
    </div>
    <div class="home">
      <a href="../htmls/vietNam2.html">
      </a>
      <i class="fas fa-home"></i>
    </div>
    <script src="../Javascript/festival.js"></script>
</body>
</html>