<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/thuchanh/Css/anGiang.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Cà Mau</title>
</head>
<body>
    <div class="web" style="background-image: url('/thuchanh/img/caMau/biaCM.png');">
        <div class="history">
            LỊCH SỬ
            <a id="lSu" href="#lichSu"></a>
        </div>
        <div class="festival">
            VĂN HÓA
            <a id="lHoi" href="#leHoi">
            </a>
        </div>
        <div class="view">
            DU LỊCH
            <a id="dLich" href="#duLich"></a>
        </div>
    </div>
    <div id="lichSu">
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Cuối thế kỉ XVII<br>
              </div>
              <div class="item-title">
                Mạc Cửu là tướng của nhà Minh (Trung Quốc) chạy nạn bởi triều đình Mãn Thanh đã dẫn một số người Trung Hoa đến vùng Hà Tiên sinh sống. Sau khi Mạc Cửu dâng toàn bộ phần đất này thần phục nhà Nguyễn, Mạc Thiên Tứ con của Mạc Cửu đã vâng lệnh triều đình chúa Nguyễn lập ra đạo Long Xuyên (ở vùng đất Cà Mau ngày nay)               </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                9/3/1956<br>
              </div>
              <div class="item-title">
                Chính quyền Sài Gòn lấy quận Cà Mau, quận Quảng Xuyên và 4 xã của quận Giá Rai: Định Thành, Hoà Thành, Tân Thành, Phong Thạnh Tây lập thành tỉnh Cà Mau              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                22/10/1956<br>
              </div>
              <div class="item-title">
                Chính quyền Sài Gòn ra Sắc lệnh 143/VN đổi tên tỉnh Cà Mau thành tỉnh An Xuyên              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                2/1976<br>
              </div>
              <div class="item-title">
                Chính phủ cách mạng lâm thời Cộng hoà miền Nam Việt Nam hợp nhất một số tỉnh ở miền Nam. Hai tỉnh Cà Mau (An Xuyên) và Bạc Liêu thành tỉnh Minh Hải.                </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                01/01/1997<br>
              </div>
              <div class="item-title">
                Quốc hội khoá IX đã phê chuẩn việc tách tỉnh Minh Hải ra làm 2 tỉnh Cà Mau và Bạc Liêu                  </div>
            </li>
          </ul>
        </div>
    </div>
    <div id="leHoi">
      <div class="container">
        <div class="slide">
          <div class="item" style="background-image: url('/thuchanh/img/caMau/banhphong.png');">
            <div class="content">
              <div class="name">Bánh phồng Năm Căn</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('/thuchanh/img/caMau/tom.png');">
            <div class="content">
              <div class="name">festival tôm</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('/thuchanh/img/caMau/detchieu.png');">
            <div class="content">
              <div class="name">làng nghề dệt chiếu</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('/thuchanh/img/caMau/ong.png');">
            <div class="content">
              <div class="name">Nghề gác kèo ong</div>
              <div class="des">
              </div>
            </div>
          </div>
          
          <div class="item" style="background-image: url('/thuchanh/img/caMau/sacso.png');">
            <div class="content">
              <div class="name">nghề sạc sò</div>
              <div class="des">
              </div>
            </div>
          </div>
        </div>
      
        <div class="buttons">
          <button class="prev"></button>
          <button class="next"></button>
        </div>
      </div>
    </div>
    <div id="duLich">
      <section class="gallery">
        <div>
          <img src="/thuchanh/img/caMau/cm1.png">
          <img src="/thuchanh/img/caMau/cm2.png">
          <img src="/thuchanh/img/caMau/cm3.png">
        </div>
        <div>
          <img src="/thuchanh/img/caMau/cm4.png">
          <img src="/thuchanh/img/caMau/cm5.png">
          <img src="/thuchanh/img/caMau/cm6.png">
        </div>
        <div>
          <img src="/thuchanh/img/caMau/cm7.png">
          <img src="/thuchanh/img/caMau/cm8.png">
          <img src="/thuchanh/img/caMau/cm9.png">
        </div>
      </section>
    </div>
    <div class="home">
        <a href="/thuchanh/htmls/vietNam2.html">
        </a>
      <i class="fas fa-home"></i>
    </div>
    <script src="/thuchanh/Javascript/festival.js"></script>
</body>
</html>