<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Css/anGiang.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Đắk Nông</title>
</head>
<body>
    <div class="web" style="background-image: url('../img/dakNong/biaDN.png');">
      <div class="flex-container">
        <div class="lsu">LỊCH <br>SỬ
          <a id="lSu" href="#lichSu"></a>
        </div>
        <div class="vhoa">VĂN <br>HÓA
          <a id="lHoi" href="#leHoi">
          </a></div>
        <div class="dlich">DU <br>LỊCH
          <a id="dLich" href="#duLich"></a>
        </div>
      </div>
    </div>
    <div id="lichSu">
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1893<br>
              </div>
              <div class="item-title">
                Triều đình nhà Nguyễn chấp nhận để thực dân Pháp cai trị tỉnh Đắk Nông               </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1945 – 1954<br>
              </div>
              <div class="item-title">
                Đắk Nông là vùng tạm chiếm đóng              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1959<br>
              </div>
              <div class="item-title">
                Chính quyền Sài Gòn cắt một phần phía Tây của tỉnh Đắk Lắk, một phần quận Kiến Hòa của Thủ Dầu Một để thành lập tỉnh Quảng Đức.              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                11/1975<br>
              </div>
              <div class="item-title">
                Tỉnh Quảng Đức sáp nhập vào tỉnh Đăk Lăk.                </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                01/01/2004<br>
              </div>
              <div class="item-title">
                Đắk Nông được tái lập                  </div>
            </li>
          </ul>
        </div>
    </div>
    <div id="leHoi">
      <div class="container">
        <div class="slide">
          <div class="item" style="background-image: url('../img/dakNong/nhaccudantoc.png');">
            <div class="content">
              <div class="name">Diễn tấu đạo cụ dân tộc</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/dakNong/mau.png');">
            <div class="content">
              <div class="name">Nghệ thuật trình diễn Nau M'pring</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/dakNong/thocam.png');">
            <div class="content">
              <div class="name">Lễ hội văn hóa thổ cẩm</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/dakNong/muadantoc.png');">
            <div class="content">
              <div class="name">Điệu múa dân tộc</div>
              <div class="des">
              </div>
            </div>
          </div>
          
          <div class="item" style="background-image: url('../img/dakNong/congchien.png');">
            <div class="content">
              <div class="name">Cồng chiêng</div>
              <div class="des">
              </div>
            </div>
          </div>
        </div>
      
        <div class="buttons">
          <button class="prev"></button>
          <button class="next"></button>
        </div>
      </div>
    </div>
    <div id="duLich">
      <section class="gallery">
        <div>
          <img src="../img/dakNong/dn1.png">
          <img src="../img/dakNong/dn2.png">
          <img src="../img/dakNong/dn3.png">
        </div>
        <div>
          <img src="../img/dakNong/dn4.png">
          <img src="../img/dakNong/dn5.png">
          <img src="../img/dakNong/dn6.png">
        </div>
        <div>
          <img src="../img/dakNong/dn7.png">
          <img src="../img/dakNong/dn8.png">
          <img src="../img/dakNong/dn9.png">
        </div>
      </section>
    </div>
    <div class="home">
        <a href="../htmls/vietNam2.html">
        </a>
      <i class="fas fa-home"></i>
    </div>
    <script src="../Javascript/festival.js"></script>
</body>
</html>