<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Css/anGiang.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Điện Biên</title>
</head>
<body>
    <div class="web" style="background-image: url('../img/dienBien/biaDB.png');">
      <div class="flex-container">
        <div class="lsu">LỊCH <br>SỬ
          <a id="lSu" href="#lichSu"></a>
        </div>
        <div class="vhoa">VĂN <br>HÓA
          <a id="lHoi" href="#leHoi">
          </a></div>
        <div class="dlich">DU <br>LỊCH
          <a id="dLich" href="#duLich"></a>
        </div>
      </div>
    </div>
    <div id="lichSu">
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Thời Bắc thuộc – đời Lý<br>
              </div>
              <div class="item-title">
                Thời kỳ Bắc thuộc Điện Biên thuộc huyện Lâm Tây, quận Tân Hưng. Đời Lý đất Điện Biên nằm trong hạt châu Lâm Tây               </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1831<br>
              </div>
              <div class="item-title">
                Minh Mạng đổi thành tỉnh Hưng Hóa, tỉnh lị đặt ở thị trấn Hưng Hoá huyện Tam Nông              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
              1841<br>
              </div>
              <div class="item-title">
                Tên gọi Điện Biên do Thiệu Trị đặt năm 1841 từ châu Ninh Biên; Điện nghĩa là vững chãi, Biên nghĩa là vùng biên giới, biên ải. Phủ Điện Biên (tức Điện Biên Phủ) thời Thiệu Trị gồm 3 châu: Ninh Biên (do phủ kiêm lý, tức là tri phủ kiêm quản lý châu), Tuần Giáo và Lai Châu.              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                28/06/1909<br>
              </div>
              <div class="item-title">
                Toàn quyền Đông Dương ra Nghị định thành lập tỉnh Lai Châu, nay là tỉnh Điện Biên và Lai Châu.                </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Tháng 11/2003<br>
              </div>
              <div class="item-title">
                Quốc hội ra Nghị quyết trong đó chia tỉnh Lai Châu thành tỉnh Lai Châu (mới) và tỉnh Điện Biên                  </div>
            </li>
          </ul>
        </div>
    </div>
    <div id="leHoi">
      <div class="container">
        <div class="slide">
          <div class="item" style="background-image: url('../img/dienBien/a1.png');">
            <div class="content">
              <div class="name">bài học lịch sử trên đồi A1</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/dienBien/chienthang.png');">
            <div class="content">
              <div class="name">chiến thắng</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/dienBien/dbp.png');">
            <div class="content">
              <div class="name">điện biên phủ</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/dienBien/llnc.png');">
            <div class="content">
              <div class="name">lừng lẫy năm châu</div>
              <div class="des">
              </div>
            </div>
          </div>
          
          <div class="item" style="background-image: url('../img/dienBien/cdđc.png');">
            <div class="content">
              <div class="name">chấn động địa cầu</div>
              <div class="des">
              </div>
            </div>
          </div>
        </div>
      
        <div class="buttons">
          <button class="prev"></button>
          <button class="next"></button>
        </div>
      </div>
    </div>
    <div id="duLich">
      <section class="gallery">
        <div>
          <img src="../img/dienBien/db1.png">
          <img src="../img/dienBien/db2.png">
          <img src="../img/dienBien/db3.png">
        </div>
        <div>
          <img src="../img/dienBien/db4.png">
          <img src="../img/dienBien/db5.png">
          <img src="../img/dienBien/db6.png">
        </div>
        <div>
          <img src="../img/dienBien/db7.png">
          <img src="../img/dienBien/db8.png">
          <img src="../img/dienBien/db9.png">
        </div>
      </section>
    </div>
    <div class="home">
        <a href="../htmls/vietNam2.html">
        </a>
      <i class="fas fa-home"></i>
    </div>
    <script src="../Javascript/festival.js"></script>
</body>
</html>