<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Css/anGiang.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Đồng Tháp</title>
</head>
<body>
    <div class="web" style="background-image: url('../img/dongThap/biaDT.png');">
      <div class="flex-container">
        <div class="lsu">LỊCH <br>SỬ
          <a id="lSu" href="#lichSu"></a>
        </div>
        <div class="vhoa">VĂN <br>HÓA
          <a id="lHoi" href="#leHoi">
          </a></div>
        <div class="dlich">DU <br>LỊCH
          <a id="dLich" href="#duLich"></a>
        </div>
      </div>
    </div>
    <div id="lichSu">
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Thời kì phong kiến<br>
              </div>
              <div class="item-title">
                Đồng Tháp xưa kia nguyên nằm trong vùng đất đai rộng lớn, phì nhiêu do các lưu dân người Việt ở phía Bắc vào khai phá lập nghiệp hình thành nên các vùng dân cư               </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1757<br>
              </div>
              <div class="item-title">
                Võ vương Nguyễn Phước Khoát mở mang thêm đất Tầm Phong Long nằm giữa sông Tiền và sông Hậu, giao cho Nguyễn Cư Trinh lập ba đạo: Châu Đốc (ở Hậu Giang), Tân Châu (ở Tiền Giang) và Đông Khẩu (xứ Sa Đéc) đều thuộc dinh Long Hồ. Trong đó, đạo Đông Khẩu nay thuộc vùng đất phía Nam sông Tiền tỉnh Đồng Tháp.              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                10/1956<br>
              </div>
              <div class="item-title">
                Tổng thống Việt Nam Cộng hòa lại ban hành Sắc lệnh về việc thay đổi địa giới và tên một số tỉnh và tỉnh lỵ tại miền Nam Việt Nam, theo đó tỉnh Sa Đéc sáp nhập vào Vĩnh Long thành tỉnh Vĩnh Long, tỉnh Phong Thạnh đổi tên thành tỉnh Kiến Phong              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1966<br>
              </div>
              <div class="item-title">
                Tỉnh Sa Đéc được tái lập trên cơ sở tách ra từ tỉnh Vĩnh Long                </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                02/1976<br>
              </div>
              <div class="item-title">
                Bằng Nghị định của Chính phủ Cách mạng lâm thời Cộng hòa miền Nam Việt Nam, tỉnh Đồng Tháp chính thức được thành lập từ việc hợp nhất 02 tỉnh Sa Đéc và Kiến Phong                  </div>
            </li>
          </ul>
        </div>
    </div>
    <div id="leHoi">
      <div class="container">
        <div class="slide">
          <div class="item" style="background-image: url('../img/dongThap/chieu.png');">
            <div class="content">
              <div class="name">làng chiếu định yên</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/dongThap/sen.png');">
            <div class="content">
              <div class="name">trang từ lá sen</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/dongThap/senthapmuoi.png');">
            <div class="content">
              <div class="name">mùa sen tháp mười</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/dongThap/hoasadec.png');">
            <div class="content">
              <div class="name">Lễ hội hoa sa đéc</div>
              <div class="des">
              </div>
            </div>
          </div>
          
          <div class="item" style="background-image: url('../img/dongThap/phuongnam.png');">
            <div class="content">
              <div class="name">Khu Du lịch Văn hóa Phương Nam</div>
              <div class="des">
              </div>
            </div>
          </div>
        </div>
      
        <div class="buttons">
          <button class="prev"></button>
          <button class="next"></button>
        </div>
      </div>
    </div>
    <div id="duLich">
      <section class="gallery">
        <div>
          <img src="../img/dongThap/dt1.png">
          <img src="../img/dongThap/dt2.png">
          <img src="../img/dongThap/dt3.png">
        </div>
        <div>
          <img src="../img/dongThap/dt4.png">
          <img src="../img/dongThap/dt5.png">
          <img src="../img/dongThap/dt6.png">
        </div>
        <div>
          <img src="../img/dongThap/dt7.png">
          <img src="../img/dongThap/dt8.png">
          <img src="../img/dongThap/dt9.png">
        </div>
      </section>
    </div>
    <div class="home">
        <a href="../htmls/vietNam2.html">
        </a>
      <i class="fas fa-home"></i>
    </div>
    <script src="../Javascript/festival.js"></script>
</body>
</html>