<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Css/anGiang.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Đồng Nai</title>
</head>
<body>
    <div class="web" style="background-image: url('../img/dongNai/biaDN.png');">
      <div class="flex-container">
        <div class="lsu">LỊCH <br>SỬ
          <a id="lSu" href="#lichSu"></a>
        </div>
        <div class="vhoa">VĂN <br>HÓA
          <a id="lHoi" href="#leHoi">
          </a></div>
        <div class="dlich">DU <br>LỊCH
          <a id="dLich" href="#duLich"></a>
        </div>
      </div>
    </div>
    <div id="lichSu">
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1832- 1861<br>
              </div>
              <div class="item-title">
                Tỉnh Biên Hòa có địa giới hành chính rộng lớn, bao gồm vùng đất các tỉnh Đồng Nai, Bà Rịa – Vũng Tàu, Bình Phước, Bình Dương và một phần của Sài Gòn ngày nay               </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1876<br>
              </div>
              <div class="item-title">
                Tỉnh Biên Hòa bị Pháp giải thể và biến thành 3 tiểu khu: Biên Hòa, Thủ Dầu Một và Bà Rịa.              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                20/12/1899<br>
              </div>
              <div class="item-title">
                Toàn quyền Đông Dương, đổi tên tất cả các tiêu khu thành tỉnh. Thời kỳ này, địa giới tỉnh Biên Hòa bao gồm tỉnh Đồng Nai, một phần các tỉnh Bình Phước và Bình Dương hiện tại              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                22/10/1956<br>
              </div>
              <div class="item-title">
                Ngô Đình Diệm ra Sắc lệnh 143-NV chia tỉnh Biên Hòa thành 3 tỉnh: Biên Hòa, Long Khánh, Phước Long                </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                2/1976<br>
              </div>
              <div class="item-title">
                Tỉnh Biên Hòa được sáp nhập với Bà Rịa và Long Khánh thành tỉnh Đồng Nai mới                  </div>
            </li>
          </ul>
        </div>
    </div>
    <div id="leHoi">
      <div class="container">
        <div class="slide">
          <div class="item" style="background-image: url('../img/dongNai/lua.png');">
            <div class="content">
              <div class="name">Lễ hội SAYANGVA cúng thần lúa</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/dongNai/gom.png');">
            <div class="content">
              <div class="name">LÀNG GỐM</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/dongNai/lantan.png');">
            <div class="content">
              <div class="name">Lễ kỳ yên đình Tân Lân</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/dongNai/mieu.png');">
            <div class="content">
              <div class="name">Thất phủ cổ miếu</div>
              <div class="des">
              </div>
            </div>
          </div>
          
          <div class="item" style="background-image: url('../img/dongNai/chuaong.png');">
            <div class="content">
              <div class="name">lễ chùa ông</div>
              <div class="des">
              </div>
            </div>
          </div>
        </div>
      
        <div class="buttons">
          <button class="prev"></button>
          <button class="next"></button>
        </div>
      </div>
    </div>
    <div id="duLich">
      <section class="gallery">
        <div>
          <img src="../img/dongNai/dn1.png">
          <img src="../img/dongNai/dn2.png">
          <img src="../img/dongNai/dn3.png">
        </div>
        <div>
          <img src="../img/dongNai/dn4.png">
          <img src="../img/dongNai/dn5.png">
          <img src="../img/dongNai/dn6.png">
        </div>
        <div>
          <img src="../img/dongNai/dn7.png">
          <img src="../img/dongNai/dn8.png">
          <img src="../img/dongNai/dn9.png">
        </div>
      </section>
    </div>
    <div class="home">
        <a href="../htmls/vietNam2.html">
        </a>
      <i class="fas fa-home"></i>
    </div>
    <script src="../Javascript/festival.js"></script>
</body>
</html>