<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Css/anGiang.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Yên Bái</title>
</head>
<body>
    <div class="web" style="background-image: url('../img/bacNinh/biaBN2.png');">
      <div class="flex-container">
        <div class="lsu">LỊCH <br>SỬ
          <a id="lSu" href="#lichSu"></a>
        </div>
        <div class="vhoa">VĂN <br>HÓA
          <a id="lHoi" href="#leHoi">
          </a></div>
        <div class="dlich">DU <br>LỊCH
          <a id="dLich" href="#duLich"></a>
        </div>
      </div>
    </div>
    <div id="lichSu">
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1822<br>
              </div>
              <div class="item-title">
                Xứ Kinh Bắc được nhà Nguyễn đổi tên gọi thành tỉnh Bắc Ninh sau 2 năm trấn Bắc Ninh             
               </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1931<br>
              </div>
              <div class="item-title">
                Thị Trấn Bắc Ninh được đổi tên thành tỉnh Bắc Ninh.               
              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
              1938<br>
              </div>
              <div class="item-title">
                Thị xã Bắc Ninh được xếp vào thành phố thứ 5 của xứ Bắc Kỳ                   
              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1963<br>
              </div>
              <div class="item-title">
                Tỉnh Bắc Ninh được sáp nhập với tỉnh Bắc Giang thành tỉnh Hà Bắc                  
                </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                1966<br>
              </div>
              <div class="item-title">
                Tỉnh Hà Bắc được chia lại thành hai tỉnh Bắc Ninh và Bắc Giang theo Nghị quyết của Quốc hội khóa IX               
                  </div>
            </li>
          </ul>
        </div>
    </div>
    <div id="leHoi">
      <div class="container">
        <div class="slide">
          <div class="item" style="background-image: url('../img/bacNinh/danca.png');">
            <div class="content">
              <div class="name">Dân ca quan họ</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/bacNinh/gom.png');">
            <div class="content">
              <div class="name">LÀNG GỐM Phù Lãng</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/bacNinh/tranhdongho.png');">
            <div class="content">
              <div class="name">Tranh Đông Hồ</div>
              <div class="des">
              </div>
            </div>
          </div>
      
          <div class="item" style="background-image: url('../img/bacNinh/keoco.png');">
            <div class="content">
              <div class="name">Lễ hội kéo co</div>
              <div class="des">
              </div>
            </div>
          </div>
          
          <div class="item" style="background-image: url('../img/bacNinh/ducdong.png');">
            <div class="content">
              <div class="name">Đúc đồng</div>
              <div class="des">
              </div>
            </div>
          </div>
        </div>
      
        <div class="buttons">
          <button class="prev"></button>
          <button class="next"></button>
        </div>
      </div>
    </div>
    <div id="duLich">
      <section class="gallery">
        <div>
          <img src="../img/yenBai/yb1.png">
          <img src="../img/yenBai/yb2.png">
          <img src="../img/yenBai/yb3.png">
        </div>
        <div>
          <img src="../img/yenBai/yb4.png">
          <img src="../img/yenBai/yb5.png">
          <img src="../img/yenBai/yb6.png">
        </div>
        <div>
          <img src="../img/yenBai/yb7.png">
          <img src="../img/yenBai/yb8.png">
          <img src="../img/yenBai/yb9.png">
        </div>
      </section>
    </div>
    <div class="home">
        <a href="../htmls/vietNam2.html">
        </a>
      <i class="fas fa-home"></i>
    </div>
    <script src="../Javascript/festival.js"></script>
</body>
</html>